:root {
  --o: 0.5;
  --r: -45deg;
  --trans: 0.5s;
  --mx: 100px;
  --my: 100px;
}

@font-face {
  font-family: gilroy;
  src: url(../assets/font/Gilroy-Regular.woff2);
}
@font-face {
  font-family: gilroyBold;
  src: url(../assets/font/Gilroy-Extrabold.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  --backcol: #0e0e0e;
  --textcol: #d8d8d8;
  overflow: hidden;
  transition: var(--trans);
}
body div.ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
  z-index: 1000;
}
body .menu {
  width: 95vw;
  position: fixed;
  top: 1.5vw;
  padding: 10px;
  background-color: rgba(102, 100, 100, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
body .menu .logo {
  height: 50px;
  width: 50px;
  background: var(--textcol);
  margin: 0px 20px;
}
body .menu .action {
  display: flex;
  color: var(--textcol);
}
body .menu .action div {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  font-family: gilroy;
}
body .menu .action div.theme {
  background: url(../assets/moon.svg) center/cover no-repeat;
  filter: brightness(0.1) invert(1);
}
body .grainy {
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-mask-image: url(.././assets/landing/grain.png);
          mask-image: url(.././assets/landing/grain.png);
  -webkit-mask-size: 38%;
          mask-size: 38%;
  background: radial-gradient(circle at var(--mx) var(--my), rgb(167, 167, 167) 2vw, #1e1e1e 10vw);
  mix-blend-mode: color-dodge;
}
body .landingPage {
  background-color: var(--backcol);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--trans);
  transition-property: background;
}
body .landingPage .card {
  position: relative;
  perspective: 200vw;
}
body .landingPage .card .cardBackgroundGlow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 1vw;
  background-color: #ff99f7;
  background-image: radial-gradient(at 92% 52%, hsl(7, 93%, 68%) 0px, transparent 50%), radial-gradient(at 26% 99%, hsl(305, 95%, 67%) 0px, transparent 50%), radial-gradient(at 96% 76%, hsl(311, 90%, 79%) 0px, transparent 50%), radial-gradient(at 97% 23%, hsl(34, 93%, 63%) 0px, transparent 50%), radial-gradient(at 85% 75%, hsl(226, 61%, 73%) 0px, transparent 50%), radial-gradient(at 50% 80%, hsl(315, 77%, 77%) 0px, transparent 50%), radial-gradient(at 22% 45%, hsl(223, 81%, 64%) 0px, transparent 50%);
  opacity: 0.3;
  filter: blur(3.5vw);
  -webkit-filter: blur(3.5vw);
}
body .landingPage .card .cardBackground {
  z-index: 100;
  background-color: #ff99f7;
  background-image: radial-gradient(at 92% 52%, hsl(7, 93%, 68%) 0px, transparent 50%), radial-gradient(at 26% 99%, hsl(305, 95%, 67%) 0px, transparent 50%), radial-gradient(at 96% 76%, hsl(311, 90%, 79%) 0px, transparent 50%), radial-gradient(at 97% 23%, hsl(34, 93%, 63%) 0px, transparent 50%), radial-gradient(at 85% 75%, hsl(226, 61%, 73%) 0px, transparent 50%), radial-gradient(at 50% 80%, hsl(315, 77%, 77%) 0px, transparent 50%), radial-gradient(at 22% 45%, hsl(223, 81%, 64%) 0px, transparent 50%);
  width: 61vw;
  aspect-ratio: 1.68;
  border-radius: 1vw;
  filter: blur(0.1vw);
  -webkit-filter: blur(0.1vw);
}
body .landingPage .card .cardFront {
  position: absolute;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  overflow: hidden;
  border-radius: 1vw;
  background: var(--backcol);
  display: flex;
  flex-direction: column;
  padding: 3vw;
  color: var(--textcol);
  transition: var(--trans);
  transition-property: background, color;
}
body .landingPage .card .cardFront h1 {
  text-transform: uppercase;
  font-family: gilroy;
  font-weight: bolder;
  font-size: 3vw;
}
body .landingPage .card .cardFront h1.name {
  font-weight: 100;
}
body .landingPage .card .cardFront h1.title {
  margin-bottom: 1vw;
  font-family: gilroyBold;
}
body .landingPage .card .cardFront .links {
  font-size: 1.5vw;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
}
body .landingPage .card .cardFront .texture {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25%;
  height: 100%;
  background-color: transparent;
  transition: var(--trans);
}
body .landingPage .card .cardFront .texture img {
  transition: var(--trans);
  height: 100%;
  width: auto;
}
body .landingPage .card .cardFront#foiled {
  z-index: 1000;
}
body .landingPage .card .cardFront#foiled.flip {
  transform: rotateY("160deg");
  transition: var(--trans);
}
body .landingPage .holo {
  position: absolute;
  inset: 0;
  background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #FF00C7 100%), linear-gradient(121.28deg, #213100 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), linear-gradient(114.9deg, #00C6A2 0%, #6A45A8 100%), radial-gradient(100% 148.07% at 0% 0%, #FFFFFF 0%, #1DCD00 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  background-size: 120vw 120vh;
  background-position: var(--h) var(--l);
  -webkit-mask-image: url(".././assets/landing/foil.png");
          mask-image: url(".././assets/landing/foil.png");
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  mix-blend-mode: darken;
  filter: brightness(1) contrast(1) saturate(1);
  opacity: var(--o);
  pointer-events: none;
}
body .landingPage .cardReflection {
  position: absolute;
  inset: 0;
  background: radial-gradient(var(--backcol), #ffffff);
  background-size: 120vw 120vh;
  background-position: var(--h) var(--l);
  -webkit-mask-image: url(".././assets/landing/metal.png");
          mask-image: url(".././assets/landing/metal.png");
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.15;
  filter: blur(50px);
  pointer-events: none;
}
body .projectPage {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(25px) brightness(0.5);
          backdrop-filter: blur(25px) brightness(0.5);
  transition: 1s;
  transition-property: opacity, -webkit-backdrop-filter;
  transition-property: backdrop-filter, opacity;
  transition-property: backdrop-filter, opacity, -webkit-backdrop-filter;
  color: var(--textcol);
  flex-direction: column;
  justify-content: flex-end;
  padding: 3vw;
  padding-top: 78px;
}
body .projectPage .projectContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  padding-top: 2vw;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body .projectPage .projectContainer::-webkit-scrollbar {
  display: none;
}
body .projectPage .projectContainer .projectList {
  width: 28vw;
}
body .projectPage .projectContainer .projectList h1 {
  font-size: 3vw;
  font-family: gilroyBold;
}
body .projectPage .projectContainer .projectList li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  padding: 2.7vh 0;
}
body .projectPage .projectContainer .projectList li.projectItem {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
  display: none;
}
body .projectPage .projectContainer .projectList li.projectItem.appear {
  opacity: 1;
  transform: translateY(0);
}
body .projectPage .projectContainer .projectList li h3 {
  font-size: 1.5vw;
  font-family: "gilroyBold";
}
body .projectPage .projectContainer .projectList li p {
  font-size: 1.3vw;
  font-family: "gilroy";
}
body .projectPage .projectContainer .projetctPrev {
  width: 60vw;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  margin: 0 1vw;
  background: url("") center/cover no-repeat;
  opacity: 0;
}
body .projectPage .projectDecoration {
  margin-top: 1vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 1em;
  padding: 0 1vw;
}
body .projectPage .projectYear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  right: 2vw;
  opacity: 0.5;
  font-size: 1em;
}

body.light {
  --backcol: #f0f0f0;
  --textcol: #3d3d3d;
}
body.light .menu .action div.theme {
  filter: brightness(2.5);
  background: url(../assets/sun.svg) center/cover no-repeat;
}
body.light .landingPage .card .cardFront .texture img {
  filter: invert(1);
}
body.light .landingPage .holo {
  mix-blend-mode: lighten;
  filter: brightness(0.9) contrast(1) saturate(1);
}
body.light .landingPage .cardReflection {
  background: radial-gradient(var(--backcol), #000000);
  opacity: 0.15;
}
body.light .projectPage {
  -webkit-backdrop-filter: blur(25px) brightness(1);
          backdrop-filter: blur(25px) brightness(1);
}

.link-item {
  position: relative;
}
.link-item::before {
  content: "";
  position: absolute;
  width: 100%;
  padding-top: 2px;
  border-radius: 4px;
  background-color: var(--textcol);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media (min-width: 1440px) {
  .projectPage .projectDecoration {
    font-size: 1.7em !important;
  }
  .projectPage .projectYear {
    font-size: 1.7em !important;
  }
}
@media (max-width: 900px) {
  .projectPage .projectList {
    width: 100% !important;
    padding: 5%;
    padding-top: 0px;
  }
  .projectPage .projectList h1 {
    width: 100%;
    text-align: center;
    font-size: 7vw !important;
  }
  .projectPage .projectList li {
    padding: 2.7vh 0px;
  }
  .projectPage .projectList li h3 {
    font-size: 3.5vw !important;
  }
  .projectPage .projectList li p {
    font-size: 2.5vw !important;
  }
  .projectPage .projetctPrev {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */