:root {
    --o: 0.5;
    --r: -45deg;
    --trans: 0.5s;
    --mx:100px;
    --my:100px;
}

@font-face {
    font-family: gilroy;
    src: url(../assets/font/Gilroy-Regular.woff2);
}
@font-face {
    font-family: gilroyBold;
    src: url(../assets/font/Gilroy-Extrabold.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;    
}

body {
    display: flex;
    justify-content: center;
    --backcol: #0e0e0e;
    --textcol: #d8d8d8;
    overflow: hidden;
    transition: var(--trans);
    div.ball{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        backdrop-filter: invert(80%);
        z-index: 1000;
      }
    .menu {
        width: 95vw;
        position: fixed;
        top: 1.5vw;
        padding: 10px;
        background-color: rgba(102, 100, 100, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

        .logo {
            height: 50px;
            width: 50px;
            background: var(--textcol);
            
            margin: 0px 20px;
        }

        .action {
            display: flex;
            color: var(--textcol);

            div {
                width: 30px;
                height: 30px;
                margin: 0px 20px;
                display: flex;
                justify-content: center;
                font-size: 25px;
                cursor: pointer;
                font-family: gilroy;
                &.theme{
                    background: url(../assets/moon.svg) center/cover no-repeat;
                    filter: brightness(0.1) invert(1);

                }
            }
        }
    }
    .grainy{
        position: absolute;
        height: 100vh;
        width: 100vw;
        mask-image: url(.././assets/landing/grain.png);
        mask-size: 38%;
        -webkit-mask-image: url(.././assets/landing/grain.png);
        mask-image: url(.././assets/landing/grain.png);
        -webkit-mask-size: 38%;
        mask-size: 38%;
        mask-size: 38%;
        background: radial-gradient(circle at var(--mx) var(--my), rgb(167, 167, 167) 2vw, #1e1e1e 10vw);
        mix-blend-mode: color-dodge;
    }
    .landingPage {
        background-color: var(--backcol);
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--trans);
        transition-property: background;

        .card {
            position: relative;
            perspective: 200vw;

            .cardBackgroundGlow {
                position: absolute;
                left: 0%;
                top: 0%;
                right: 0%;
                bottom: 0%;
                border-radius: 1vw;
                // background-image: linear-gradient(29deg, transparent 37%, rgba(42, 99, 255, 0.93)), linear-gradient(135deg, #28eeac, #f3f177 41%, #fd6d38 71%, #a48eb6);
                background-color:#ff99f7;
                background-image:
                radial-gradient(at 92% 52%, hsla(7,93%,68%,1) 0px, transparent 50%),
                radial-gradient(at 26% 99%, hsla(305,95%,67%,1) 0px, transparent 50%),
                radial-gradient(at 96% 76%, hsla(311,90%,79%,1) 0px, transparent 50%),
                radial-gradient(at 97% 23%, hsla(34,93%,63%,1) 0px, transparent 50%),
                radial-gradient(at 85% 75%, hsla(226,61%,73%,1) 0px, transparent 50%),
                radial-gradient(at 50% 80%, hsla(315,77%,77%,1) 0px, transparent 50%),
                radial-gradient(at 22% 45%, hsla(223,81%,64%,1) 0px, transparent 50%);
                opacity: 0.3;
                filter: blur(3.5vw);
                -webkit-filter: blur(3.5vw);
            }

            .cardBackground {
                z-index: 100;
                // background-image: linear-gradient(29deg, transparent 37%, rgba(42, 99, 255, 0.93)), linear-gradient(135deg, #28eeac, #f3f177 41%, #fd6d38 71%, #a48eb6);
                background-color:#ff99f7;
                background-image:
                radial-gradient(at 92% 52%, hsla(7,93%,68%,1) 0px, transparent 50%),
                radial-gradient(at 26% 99%, hsla(305,95%,67%,1) 0px, transparent 50%),
                radial-gradient(at 96% 76%, hsla(311,90%,79%,1) 0px, transparent 50%),
                radial-gradient(at 97% 23%, hsla(34,93%,63%,1) 0px, transparent 50%),
                radial-gradient(at 85% 75%, hsla(226,61%,73%,1) 0px, transparent 50%),
                radial-gradient(at 50% 80%, hsla(315,77%,77%,1) 0px, transparent 50%),
                radial-gradient(at 22% 45%, hsla(223,81%,64%,1) 0px, transparent 50%);
                width: 61vw;
                aspect-ratio: 1.68;
                border-radius: 1vw;
                filter: blur(0.1vw);
                -webkit-filter: blur(0.1vw);
            }

            .cardFront {
                position: absolute;
                left: 4px;
                top: 4px;
                right: 4px;
                bottom: 4px;
                overflow: hidden;
                border-radius: 1vw;
                background: var(--backcol);
                display: flex;
                flex-direction: column;
                padding: 3vw;
                color: var(--textcol);
                transition: var(--trans);
                transition-property: background, color;

                h1 {
                    text-transform: uppercase;
                    font-family: gilroy;
                    font-weight: bolder;
                    font-size: 3vw;

                    &.name {
                        font-weight: 100;
                    }

                    &.title {
                        margin-bottom: 1vw;
                        font-family: gilroyBold;
                    }
                }

                .subtitle {
                    font-size: 1.5vw;
                    margin-bottom: 1vw;
                }

                .links {
                    font-size: 1.5vw;
                    width: 25vw;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 3vw;
                }

                .texture {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 25%;
                    height: 100%;
                    background-color: transparent;
                    transition: var(--trans);

                    img {
                        transition: var(--trans);
                        height: 100%;
                        width: auto;
                    }
                }

                &#foiled {
                    z-index: 1000;
                    &.flip{
                        transform: rotateY('160deg');
                        transition: var(--trans);
                    }
                }
            }
        }

        .holo {
            position: absolute;
            inset: 0;
            // background-image: radial-gradient(110.35% 80.79% at 6% 103.92%,
            //         rgba(37, 169, 239, 1) 0%,
            //         rgba(37, 169, 239, 0) 100%),
            //     linear-gradient(169.3deg,
            //         rgba(205, 249, 232, 1) 15%,
            //         rgba(205, 249, 232, 0) 46%),
            //     radial-gradient(123% 73% at 107% 96%,
            //         rgba(255, 253, 177, 1) 20%,
            //         rgba(254, 228, 191, 1) 60%,
            //         rgba(240, 189, 208, 1) 75%,
            //         rgba(255, 129, 38, 0) 100%),
            //     linear-gradient(0deg,
            //         rgb(0, 204, 204) 0%,
            //         rgb(0, 204, 194) 100%);
           
            background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #FF00C7 100%), linear-gradient(121.28deg, #213100 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), linear-gradient(114.9deg, #00C6A2 0%, #6A45A8 100%), radial-gradient(100% 148.07% at 0% 0%, #FFFFFF 0%, #1DCD00 100%);
            background-blend-mode: screen, color-dodge, overlay, difference, normal;
            background-size: 120vw 120vh;
            background-position: var(--h) var(--l);
            mask-image: url(".././assets/landing/foil.png");
            mask-size: 100% 100%;
            mix-blend-mode: darken;
            filter: brightness(1) contrast(1) saturate(1);
            opacity: var(--o);
            pointer-events: none;
        }

        .cardReflection {
            position: absolute;
            inset: 0;
            background: radial-gradient(var(--backcol), #ffffff);
            background-size: 120vw 120vh;
            background-position: var(--h) var(--l);
            mask-image: url(".././assets/landing/metal.png");
            mask-size: 100% 100%;
            background-repeat: no-repeat;
            opacity: 0.15;
            filter: blur(50px);
            pointer-events: none;
        }

    }

    .projectPage {
        display: none;
        opacity: 0;
        // display: flex;
        position: absolute;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(25px) brightness(0.5);
        transition: 1s;
        transition-property: backdrop-filter, opacity;
        color: var(--textcol);

        .projectContainer {
            position: absolute;
            bottom: 0px;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 80vh;

            ul {
                width: 30vw;

                li {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    border-bottom: solid 1px var(--textcol);
                    padding: 15px 0px;
                    cursor: pointer;

                    &.projectItem {
                        opacity: 0;

                        transform: translateY(20px);
                        transition: opacity 0.3s, transform 0.3s;

                        &.appear {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    &.listTitle {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                    }

                    h1 {
                        font-size: 3vw;
                    }

                    h3 {
                        font-size: 1.5vw;
                    }

                    p {
                        font-size: 1.3vw;
                    }

                }
            }
        }

        .projetctPrev {
            width: 50vw;
            height: 100%;
            border-radius: 25px 0px 0px 0px;
            background-color: transparent;
            margin-left: 10vw;
            background: url('') center/cover no-repeat;
            opacity: 0;
            transition: 1s;
        }
    }
}

body.light {
    --backcol: #f0f0f0;
    --textcol: #3d3d3d;
    .menu {
        .action {
            div {
                &.theme{
                    filter: brightness(2.5);
                    background: url(../assets/sun.svg) center/cover no-repeat;
                }
            }
        }
    }
    .landingPage {
        .card {
            .cardFront {
                .texture {
                    img {
                        filter: invert(1);
                    }
                }
            }
        }

        .holo {
            mix-blend-mode: lighten;
            filter: brightness(0.9) contrast(1) saturate(1);
        }

        .cardReflection {
            background: radial-gradient(var(--backcol), #000000);
            opacity: 0.15;
        }

    }

    .projectPage {
        backdrop-filter: blur(25px) brightness(1);
    }
}

.link-item {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        padding-top: 2px;
        border-radius: 4px;
        background-color: var(--textcol);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}